#browser, #header, #tabs-tabbar-container, #panels-container, footer {
    background-color: transparent !important;
}
#app {
    background-image: url(./space_parallax.png) !important;
    background-size: 1023px 397px !important;
    animation: space-parallax 32s infinite linear;
    image-rendering: pixelated;
}

@keyframes space-parallax {
    0% {
        background-position-x: 1023px;
    }
    100% {
        background-position-x: 0px;
    }
}

@font-face {
    font-family: 'HuiFontP29';
    src: url('./HuiFontP29.ttf');
}

#browser:lang(ja),
#browser + div:lang(ja),
#browser + div + div:lang(ja),
#browser button:lang(ja),
#browser input:lang(ja),
#browser select:lang(ja),
#browser textarea:lang(ja) {
    font-family: 'HuiFontP29' !important;
}

body {
    font-family: 'HuiFontP29' !important;
}