#tabs-tabbar-container, .toolbar, #bookmark-bar, #panels-container, footer {
    background-image: url(./space_parallax.png) !important;
    background-size: 1023px 397px !important;
    animation: space-parallax 32s infinite linear;
    image-rendering: pixelated;
}

@keyframes space-parallax {
    0% {
        background-position-x: 1023px;
    }
    100% {
        background-position-x: 0px;
    }
}

@font-face {
    font-family: 'HuiFont29';
    src: url(./HuiFont29.ttf);
}

#browser {
    font-family: HuiFont29;
}